.sidebar {
	display: flex;
	flex-direction: column;
	background-color: #f7f8fa;
	color: #adb8cc;
	width: 310px;
	height: 961px;
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}

.button :hover {
	background-color: #e6e6e6;
	border-radius: 5px;
}

.customButton {
	background-color: #f7f8fa;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	align-items: center;
}

.customButton :hover {
	background-color: #e6e6e6;
	border-radius: 0;
}

.avatar {
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.clusterbtn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	margin-top: 75px;
}

.clusterbtn :hover {
	border-radius: 12px;
	background-color: #ffffff;
	transform: scale(1.3);
	position: relative;
	z-index: 1;
}

.customcluster {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 120px;
	height: 120px;
	background-color: #f7f8fa;
	border: 2px solid;
	border-color: #edeff2;
	transition: all 0.2s ease;
}

.customcluster :hover {
	border-radius: 0;
	background-color: #ffffff;
	transform: none;
}
